$theme-name: 'theme';

//common
$primary-text: #363636;
$secondary-text: #363636;
$primary-fill: #fff;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #951B1B;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: #fff;
$header-scroll-bg: #fff;
$header-shadow: 0px -4px 30px -11px rgba(0, 0, 0, 0.25);
$header-color: #000;
$header-link-active: #363636;
$header-link-decor: #f1cdb3;
$header-burger-color: #363636;

//banner
$banner-title: #fff;
$banner-text: #cdcdcd;

//donation
$donation-bg: #f6f6f6;
$donation-card-bg: #f1cdb3;
$donation-card-color: #292929;
$donation-font-decorated: rgb(178, 178, 178);

//pets
$pets-bg: #f6f6f6;

//slider
$slide-bg: #fafafa;

//footer
$footer-bg: #fff;
$footer-bd: none;
$footer-color: #f1cdb3;
$footer-color-hover: #f1cdb3;
$footer-title: #fff;

//button
$btn-color: #F2F7FF;
$btn-bg: #f1cdb3;
$btn-bd: 2px solid #f1cdb3;

$btn-color-hov: #292929;
$btn-bg-hov: #fff;
$btn-bd-hov: 2px solid #f1cdb3;

//button secondary
$btn-secondary-color: #292929;
$btn-secondary-bg: #fff;
$btn-secondary-bd: 2px solid #f1cdb3;

$btn-secondary-color-hov: #292929;
$btn-secondary-bg-hov: #f1cdb3;
$btn-secondary-bd-hov: 2px solid #f1cdb3;

