mixin slider

    .slider
        .w-center

            .slider__wrap.js-slider
                .slider__slide
                    .slider__slide-wrap
                        .slider__author-wrap
                            span.slider__author Катя&nbsp;
                            span.slider__date 11 АПРЕЛЯ / г. Харьков&nbsp;<br>
                            span.slider__story “Моя бабушка”.&nbsp;
                        .slider__slide-txt.droplist
                            p Из телефонных разговоров с моей бабушкой, которая осталась в Харькове, на салтовке. Она полностью глухая на одно ухо, немного слышит с помощью аппарата вторым, и очень плохо видит. И ходит тоже очень плохо. Дедушка умер прошлым летом. А на 4 неделе войны у неё сломался телевизор. Поэтому она стала чаще выходить на прогулки.
                            p «Сегодня не удалось поспать..очень громко. И как-будто белые ночи уже второй день…». «Сегодня вышла на прогулку. Бомбили, но мы уже привыкли. Я дошла в магазин, стояла на кассе, а девушка передо мной что-то говорила и показал а на мои продукты.. Подошла моя очередь и кассир сказала что девушка все оплатила. Представляешь?». «Сегодня тихо..аж страшно»
                            p «Сегодня вышла на прогулку, подошла к лотку с овощами, смотрела на капусту, но качаны большие, не донесу.. хотела уходить, женщина продавец говорит берите, я говорю не донесу, спасибо! Так она как закричит мужчина донесите женщине! И денег не взяла.. так что будет борщ у меня. Представляешь?»
                            p «Сегодня гуляла возле соседнего дома, подошла к толпе людей- раздают суп. Спрашивают вы из этого дома ? Я говорю нет нет, я просто посмотреть! Начала уходить , не пустили, налили супа и донесли мне до дома…представляешь?»
                            p «-Пенсию не дают.. но деньги пока есть!
                            p -сколько у тебя осталось ?
                            p -200 грн
                            p -это же очень мало, вообще что ли больше нет ?
                            p -есть, но то мне на похороны.Но я возьму оттуда, потом доложу.»
                            p Из телефонных разговоров с моей бабушкой, которая осталась в Харькове, на салтовке. Она полностью глухая на одно ухо, немного слышит с помощью аппарата вторым, и очень плохо видит. И ходит тоже очень плохо. Дедушка умер прошлым летом. А на 4 неделе войны у неё сломался телевизор. Поэтому она стала чаще выходить на прогулки.
                            p «Сегодня не удалось поспать..очень громко. И как-будто белые ночи уже второй день…». «Сегодня вышла на прогулку. Бомбили, но мы уже привыкли. Я дошла в магазин, стояла на кассе, а девушка передо мной что-то говорила и показал а на мои продукты.. Подошла моя очередь и кассир сказала что девушка все оплатила. Представляешь?». «Сегодня тихо..аж страшно»
                            p «Сегодня вышла на прогулку, подошла к лотку с овощами, смотрела на капусту, но качаны большие, не донесу.. хотела уходить, женщина продавец говорит берите, я говорю не донесу, спасибо! Так она как закричит мужчина донесите женщине! И денег не взяла.. так что будет борщ у меня. Представляешь?»
                            p «Сегодня гуляла возле соседнего дома, подошла к толпе людей- раздают суп. Спрашивают вы из этого дома ? Я говорю нет нет, я просто посмотреть! Начала уходить , не пустили, налили супа и донесли мне до дома…представляешь?»
                            p «-Пенсию не дают.. но деньги пока есть!
                            p -сколько у тебя осталось ?
                            p -200 грн
                            p -это же очень мало, вообще что ли больше нет ?
                            p -есть, но то мне на похороны.Но я возьму оттуда, потом доложу.»
                        .slider__btn-wrap
                            button.buttonupdown.btn-secondary Читать далее
                    .slider__slide-images
                        img(class="lazyload" src="static/img/content/slide-img.jpg" alt="banner image")
                        img(class="lazyload" src="static/img/content/slide-img2.jpg" alt="banner ima")
                .slider__slide
                    .slider__slide-wrap
                        .slider__author-wrap
                            span.slider__author Катя&nbsp;
                            span.slider__date 11 АПРЕЛЯ / г. Харьков&nbsp;<br>
                            span.slider__story “Моя бабушка”.&nbsp;
                        .slider__slide-txt.droplist
                            p Из телефонных разговоров с моей бабушкой, которая осталась в Харькове, на салтовке. Она полностью глухая на одно ухо, немного слышит с помощью аппарата вторым, и очень плохо видит. И ходит тоже очень плохо. Дедушка умер прошлым летом. А на 4 неделе войны у неё сломался телевизор. Поэтому она стала чаще выходить на прогулки.
                            p «Сегодня не удалось поспать..очень громко. И как-будто белые ночи уже второй день…». «Сегодня вышла на прогулку. Бомбили, но мы уже привыкли. Я дошла в магазин, стояла на кассе, а девушка передо мной что-то говорила и показал а на мои продукты.. Подошла моя очередь и кассир сказала что девушка все оплатила. Представляешь?». «Сегодня тихо..аж страшно»
                            p «Сегодня вышла на прогулку, подошла к лотку с овощами, смотрела на капусту, но качаны большие, не донесу.. хотела уходить, женщина продавец говорит берите, я говорю не донесу, спасибо! Так она как закричит мужчина донесите женщине! И денег не взяла.. так что будет борщ у меня. Представляешь?»
                            p «Сегодня гуляла возле соседнего дома, подошла к толпе людей- раздают суп. Спрашивают вы из этого дома ? Я говорю нет нет, я просто посмотреть! Начала уходить , не пустили, налили супа и донесли мне до дома…представляешь?»
                            p «-Пенсию не дают.. но деньги пока есть!
                            p -сколько у тебя осталось ?
                            p -200 грн
                            p -это же очень мало, вообще что ли больше нет ?
                            p -есть, но то мне на похороны.Но я возьму оттуда, потом доложу.»
                            p Из телефонных разговоров с моей бабушкой, которая осталась в Харькове, на салтовке. Она полностью глухая на одно ухо, немного слышит с помощью аппарата вторым, и очень плохо видит. И ходит тоже очень плохо. Дедушка умер прошлым летом. А на 4 неделе войны у неё сломался телевизор. Поэтому она стала чаще выходить на прогулки.
                            p «Сегодня не удалось поспать..очень громко. И как-будто белые ночи уже второй день…». «Сегодня вышла на прогулку. Бомбили, но мы уже привыкли. Я дошла в магазин, стояла на кассе, а девушка передо мной что-то говорила и показал а на мои продукты.. Подошла моя очередь и кассир сказала что девушка все оплатила. Представляешь?». «Сегодня тихо..аж страшно»
                            p «Сегодня вышла на прогулку, подошла к лотку с овощами, смотрела на капусту, но качаны большие, не донесу.. хотела уходить, женщина продавец говорит берите, я говорю не донесу, спасибо! Так она как закричит мужчина донесите женщине! И денег не взяла.. так что будет борщ у меня. Представляешь?»
                            p «Сегодня гуляла возле соседнего дома, подошла к толпе людей- раздают суп. Спрашивают вы из этого дома ? Я говорю нет нет, я просто посмотреть! Начала уходить , не пустили, налили супа и донесли мне до дома…представляешь?»
                            p «-Пенсию не дают.. но деньги пока есть!
                            p -сколько у тебя осталось ?
                            p -200 грн
                            p -это же очень мало, вообще что ли больше нет ?
                            p -есть, но то мне на похороны.Но я возьму оттуда, потом доложу.»
                        .slider__btn-wrap
                            button.buttonupdown.btn-secondary Читать далее
                    .slider__slide-images
                        img(class="lazyload" src="static/img/content/slide-img.jpg" alt="banner image")
                        img(class="lazyload" src="static/img/content/slide-img2.jpg" alt="banner ima")
