mixin footer()
    footer.footer
        .w-center
            .footer__wrap
                .footer__first
                    .footer__first-content
                        .footer__title СОЦИАЛЬНЫЕ СЕТИ
                        a.footer__more(href="#") Читать больше
                        .footer__sicial-img.banner__text-img
                            img(class="lazyload" src="static/img/content/banner-img.png" alt="banner image")
                            img(class="lazyload" src="static/img/content/banner-img-hov.png" alt="banner image")

                .footer__nav-wrap
                    .footer__title НАВИГАЦИЯ
                    ul.footer__nav
                        li.footer__nav-item
                            a(href="#") Главная
                        li.footer__nav-item
                            a(href="#") Истории
                        li.footer__nav-item
                            a(href="#") Написать
                        li.footer__nav-item
                            a(href="#") Помочь Нам
                        li.footer__nav-item
                            a(href="#") Партнерство
                .footer__image.banner__text-image
                    img(class="lazyload" src="static/img/content/footer-img.png" alt="banner image")
                    img(class="lazyload" src="static/img/content/footer-img-hov.png" alt="banner image")
                .footer__contacts
                    .footer__title  КОНТАКТЫ
                    .footer__adress г. Харьков</br> ул. Шота Руставели 20а
                    .footer__tel 044 325 44 55
                    .footer__tel 099 325 44 55
                    .footer__mail
                        a(href="mailto:poshta_pamyati@gmail.com") poshta_pamyati@gmail.com