mixin partnership()
    .partnership
        .partnership__wrap
            .partnership__left
                .partnership__left-title Вместе Мы можем больше
                .partnership__left-text Когда у тебя есть товарищ, который может разделить с тобой риски – это огромный плюс. Стартуя первый бизнес очень важно, чтобы было, с кем ты можешь посоветоваться. Наличие друга-партнера помогает вам обрести уверенность в себе и шаг за шагом двигаться вперед.
                .partnership__form
                    form
                        input.partnership__input(type="text" name="name" id="name" placeholder="Почта / Tелефон:" required)
                        button.btn(type="submit")
                            img.btn__image(class="lazyload" src="static/img/content/button-bg.png" alt="banner image")
                            img.btn__image.btn__image-hov(class="lazyload" src="static/img/content/button-bg-hov.png" alt="banner image")
                            span.btn__text ОТПРАВИТЬ
            .partnership__right
                .partnership__images
                    .partnership__first-image
                        img(class="lazyload" src="static/img/content/partnership-letter.png" alt="")
                        img(class="lazyload" src="static/img/content/partnership-letter-hov.png" alt="")
                    .partnership__second-image
                        img(class="lazyload" src="static/img/content/partnership-home.png" alt="")